# Canonical identity for personal repos
Manish Kashyap manishkr1608@gmail.com

# Map any old/company identities to your personal identity
Manish Kashyap manishkr1608@gmail.com manish.kumar@wenergysoftware.com
Manish Kashyap manishkr1608@gmail.com manish.kumar@sevenlakes.com
